//- include ./_includes/mixins/layout.pug
//- include ./_includes/mixins/brick.pug
//- include /_includes/mixins/link.pug
//- include /_includes/mixins/post.pug
//- include /_includes/mixins/pagination.pug
