{{- $allTags := slice }}
{{- range site.Taxonomies.tags }}
  {{- $allTags = $allTags | append .Page.Title }}
{{- end }}
{{- if gt (len $allTags) 0 }}
<div class="p-6 card">
  <h3 class="flex gap-2 items-center mb-4 font-semibold text-default font-heading">
    Tags
  </h3>
  <div class="flex flex-wrap gap-2">
    {{- range $allTags }}
    <a href="/tags/{{ . | urlize }}/" class="group pill hover:bg-accent">
       {{- partial "icons/tag.html" (dict "class" "group-hover:stroke-default stroke-accent w-3 h-3") }}
       {{- . }}
    </a>
    {{- end }}
  </div>
</div>
{{- end }}
