<article class="transition-all card hover:border-accent/30">
  <a href="{{ .Permalink }}" class="block group">
    {{- $image := index (.Resources.ByType "image") 0 }}
    {{- if $image }}
    <div class="relative aspect-[2/1]">
      <!-- Image -->
      <img src="{{ $image.RelPermalink }}"
           alt="{{ .Title }}"
           class="object-cover w-full h-full">
      <!-- Metadata -->
      <div class="flex absolute inset-x-4 bottom-4 justify-between items-end">
        <!-- Tags -->
        <div class="flex flex-wrap gap-2">
          {{- range .Params.tags }}
          <div class="pill frosted">
            {{- partial "icons/tag.html" (dict "class" "stroke-accent w-4 h-4") }}
            {{- . }}
          </div>
          {{- end }}
        </div>
        <!-- Date -->
        <time datetime="{{ .Date.Format "2006-01-02" }}" class="pill frosted">
          {{- partial "icons/calendar.html" (dict "class" "stroke-accent w-4 h-4") }}
          {{ (.Date.Format "Jan 2, 2006") }}
        </time>
      </div>
    </div>
    {{- end }}

    <div class="py-4 px-6">
      <h2 class="mb-3 text-xl font-semibold text-default text-balance font-heading group-hover:text-accent">
        {{ .Title }}
      </h2>

      <div class="mb-4 text-sm leading-relaxed text-muted line-clamp-2">
        {{ .Summary | plainify | truncate 200}}
      </div>

      <div class="flex justify-between items-center">
        <span class="inline-flex gap-2 items-center text-sm font-medium transition-all group-hover:gap-3 text-accent">
          Read more
          {{- partial "icons/arrowRight.html" (dict "class" "w-4 h-4") }}
        </span>
        <span class="flex gap-1 items-center text-xs text-muted">
          {{- partial "icons/clock.html" }}
          {{ .ReadingTime }} min
        </span>
      </div>
    </div>
  </a>
</article>
