{{- $page := .page | default . -}}
{{- $isAboveTheFold := .isAboveTheFold | default false -}}
{{- $firstImageInMarkdown := partial "post/firstImage.html" $page }}

{{- /* Above the fold images should load eagerly */ -}}
{{- $loading := "lazy" -}}
{{- if $isAboveTheFold -}}
  {{- $loading = "eager" -}}
{{- end -}}

<article class="transition-all card hover:border-accent/30">
  <a href="{{ $page.RelPermalink }}" class="block group">
    <div class="relative aspect-[2/1] {{ if not $firstImageInMarkdown }}cutting-mat-dense{{ end }}">
      <!-- Image -->
      {{- if $firstImageInMarkdown }}
      {{- partial "image.html" (dict
        "image" $firstImageInMarkdown
        "alt" $page.Title
        "class" "object-cover w-full h-full"
        "loading" $loading
      ) -}}
      {{- end }}
      <!-- Metadata -->
      <div class="flex absolute inset-x-4 bottom-4 justify-between items-end">
        <!-- Tags -->
        <div class="flex flex-wrap gap-2">
          {{- range $page.Params.tags }}
          <div class="pill frosted">
            {{- partial "icons/tag.html" (dict "class" "stroke-accent w-4 h-4") }}
            {{- . }}
          </div>
          {{- end }}
        </div>
        <!-- Date -->
        <time datetime="{{ $page.Date.Format "2006-01-02" }}" class="pill frosted">
          {{- partial "icons/calendar.html" (dict "class" "stroke-accent w-4 h-4") }}
          {{ ($page.Date.Format "Jan 2, 2006") }}
        </time>
      </div>
    </div>

    <div class="py-4 px-6">
      <h2 class="mb-3 text-xl font-semibold text-default text-balance font-heading group-hover:text-accent">
        {{ $page.Title }}
      </h2>

      <div class="mb-4 text-sm leading-relaxed text-muted line-clamp-2">
        {{ $page.Summary | plainify | truncate 200 }}
      </div>

      <div class="flex justify-between items-center">
        <span class="inline-flex gap-2 items-center text-sm font-medium transition-all group-hover:gap-3 text-accent">
          Read more
          {{- partial "icons/arrowRight.html" (dict "class" "w-4 h-4") }}
        </span>
        <span class="flex gap-1 items-center text-xs text-muted">
          {{- partial "icons/clock.html" }}
          {{ $page.ReadingTime }} min
        </span>
      </div>
    </div>
  </a>
</article>
