mixin layout()
  doctype html
  html(lang='en')
    +norska_head
    body.bg-gray-1.gray-8
      //- Header
      nav.fixed.top-0.left-0.right-0.z-8.h-7.flex.bg-gray-1.backdrop-filter.backdrop-blur-1.bg-opacity-75p
        .container.mx-auto.flex.flex-cross-center.px-1
          .flex
              a.gray-8.bold.text-3.hover_teal.transition-colors(href=url.pathToRoot) Pixelastic's Painting Log

      //- Main
      .container.mx-auto.md_max-w-md.mt-7.px-1.pb-8
        block

      +norska_scripts
