mixin post_list(currentPageNumber)
  - const postsPerPage = data.theme.postsPerPage
  - const firstPostIndex = postsPerPage * (currentPageNumber - 1)
  - const maxPage = Math.ceil(data.posts.length / postsPerPage)
  - const postsOnThisPage = _.slice(data.posts, firstPostIndex, firstPostIndex + postsPerPage)

  //- All posts
  for post in postsOnThisPage
    +post(post)

  //- Pagination
  .flex.flex-center
    .flex
      if currentPageNumber > 1
        +pagination-link(1, '«')
        +pagination-link(currentPageNumber - 1, '‹')

      for pageNumber in _.range(1, maxPage + 1)
        +pagination-link(pageNumber, pageNumber, pageNumber === currentPageNumber)

      if currentPageNumber < maxPage
        +pagination-link(currentPageNumber + 1, '›')
        +pagination-link(maxPage, '»')

mixin pagination-link(pageNumber, label, isCurrentPage)
  - const isFirstPage = pageNumber === 1;
  - const linkUrl = isFirstPage ? url.pathToRoot : `${url.pathToRoot}page-${pageNumber}/`
  .flex.w-4.h-4
    if isCurrentPage
      a.flex-auto.flex.flex-center.rounded.white.bg-teal.bold(href=linkUrl)=label
    else
      a.flex-auto.flex.flex-center.hover_bg-teal.rounded.hover_white(href=linkUrl)=label
