//- ---
//- title: Tags
//- description: "Posts ordered by tag"
//- ---

block content
  +brick.w-prose
    h1.text-6.bold Posts by tags
    .flex.flex-col.text-4.mt-1
      //- for tag in data.tags
      //-   .flex-initial.flex.flex-row
      //-     +link.blue(href=tag.url)=tag.name
      //-     .span.ml-01=`(${tag.count})`
