block content
  - const tags = _.chain(data).get('tags').sortBy(tag => { return tag.posts.length }).reverse().value()
  .pt-4

    for tag in tags
      //- Title
      h1.bold.text-5.arial.teal
        a.link(href=`${url.pathToRoot}${tag.url}`)=`${tag.name} posts`

      .prose
        +post_list_links(tag.posts)
