[debug] {
  outline: 1px solid var(--color-red-600);
}
[debug] > * {
  outline: 1px solid var(--color-orange-600);
}
[debug] > * > * {
  outline: 1px solid var(--color-yellow-600);
}
[debug] > * > * > * {
  outline: 1px solid var(--color-lime-600);
}
[debug] > * > * > * > * {
  outline: 1px solid var(--color-green-600);
}
[debug] > * > * > * > * > * {
  outline: 1px solid var(--color-cyan-600);
}
[debug] > * > * > * > * > * > * {
  outline: 1px solid var(--color-blue-600);
}
[debug] > * > * > * > * > * > * > * {
  outline: 1px solid var(--color-indigo-600);
}
[debug] > * > * > * > * > * > * > * > * {
  outline: 1px solid var(--color-purple-600);
}
[debug] > * > * > * > * > * > * > * > * > * {
  outline: 1px solid var(--color-pink-600);
}
